:root {
    --rowNum: ""
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
}


.titleContainer {
    background-color: #FFE3E1;
    height: 20%;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 5px 5px 10px #FFD1D1;
    position: relative;
}

.title {
    height: 20vh;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;

}

.icon {
    display: flex;
    padding-left: 4%;
}

.mainContainer {
    background-color: #FFF5E4;
}

.addNew {
    padding: 5% 5% 1%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submitContainer {
    padding: 0 5%;
}


#bookInput, #authorInput {
    width: 30vw;
    height: 30px;
    background-color: #FFF5E4;
    border: 1px solid black;
    border-radius: 5px;   
    font-family: "montserrat";
    font-size: 16px;
}


#readStatus {
    height: 35px;
    padding: 2px 2px;
    width: 100px;
    background-color: #FFF5E4;
    border: 1px solid black;
    border-radius: 5px;  
    font-size: 16px;
    font-family: "montserrat";
}

.bookTitle, .author, .status {
    font-size: 20px;
    font-weight:bold;
}

.submitContainer{
    padding-top: 10px;
}

#submit {
    width: 100px;
    height: 30px;
    background-color: #A0BCC2;
    border: 1px solid black;
    border-radius: 5px;
    color: #FEFBE7;
    font-size: 1em;
}

#submit:hover {
    background-color: #a0aec2;
}

.footer {
    background-color: #FFF5E4;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 0;
}

#iconLink {
    color: black;   
}

#libraryContainer {
    padding: 5% 5% 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat((--rowNum), 1fr);
    row-gap: 30px;
    min-height: 53vh;
}

.newCard {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}