body {
    margin: 0;
    font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.titleContainer {
    background-color: #DAE5D0;
    height: 20vh;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 5px 15px #b9c4b1;
    position: relative;
}

.title {
    height: 20vh;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;

}

.icon {
    display: flex;
    padding-left: 4%;
}

.mainContainer {
    background-color: #F9EBC8;
    height: 77vh;
}

.main {
    padding-left: 5%;
    padding-top: 5%;
}

.footer {
    background-color: #F9EBC8;
    text-align: center;
    font-size: 0.8em;
}

#iconLink {
    color: black;   
}